body{
    overflow-y: hidden;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .center_container{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    height: 750px;
  }
  .center_container table{
    margin-left: 310px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  #resultMatrix{
    margin-left: 50px;
    font-size: 35px;
    margin-top: 20px;
  }
  .center_container button{
   font-size: 40px;
   cursor: pointer;
   width: fit-content;
   margin-left: 240px;
   height: fit-content;
  }
  .left_container{
    width: 20%;
    text-align: center;
    height: 750px;
  }
  
  
  .left_container button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: darkblue;
    color: aliceblue;
    cursor: pointer;
    margin-top: 40px;
  }
  .left_container button:hover{
    background-color:  rgb(51, 51, 114);
  }
  
  .left_container input{
    width: 200px;
    height: 40px;
    border-radius: 12px;
    gap: 40px;
    margin-bottom: 20px;
  }
  .left_container table{
    margin-left: 87px;
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  #firstMatrix{
    margin-top: 20px;
    font-size: 30px;
  }
  
  .first_matrix_inputs{
    margin-top: 40px;
  }
  .first_matrix_inputs input{
    margin-bottom: 30px;
    margin-left: -4px;
  }
  
  .right_container{
    width: 20%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }
  .right_container button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: darkblue;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .right_container button:hover{
    background-color:  rgb(51, 51, 114);
  }
  .right_container table{
    margin-left: 87px;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 22px;
  }
  #secondMatrix{
    margin-top: 100px;
    font-size: 30px;
  }
  
  .right_container input{
    width: 200px;
    height: 40px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  #create_first_matrix{
    margin-top: 20px;
  }
  
  #create_second_matrix{
    margin-top: 30px;
  }
  
  #second_matrix_form{
    margin-top: 20px;
  }
  #first_matrix_form{
    margin-top: 40px;
  }