body {
  background-color: #f0f4f8; 
  color: #333; 
  font-family: Arial, sans-serif; 
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  margin-left: 450px;
  width: 450px;
  padding: 30px;
  background-color: #ffffff; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333; 
}

.input_for_matrix {
  width: 100%;
  max-width: 350px;
  height: 40px;
  border-radius: 12px;
  margin: 10px 0;
  padding: 0 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

#display_matrices {
  width: 100%;
  max-width: 350px;
  height: 45px;
  font-size: 16px;
  background-color: #007BFF; 
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s;
}

#display_matrices:hover {
  background-color: #0056b3;
}

.table_for_matrix{
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin-top: 20px;
}